<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="IE104.O12_Group3">
  <meta name="description" content="Trang web TAA là một nền tảng thương mại 
    điện tử chuyên về bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung
    cấp những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở thành
    điểm đến lý tưởng cho những người đam mê phụ kiện và trang sức.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/logos/favicon.svg">
  <link rel="stylesheet" href="/styles/pages/base.css">
  <link rel="stylesheet" href="/styles/pages/account/order.css">
  <title>TAA - Trang đặt hàng</title>
</head>

<body>
  <div id="main" class="on-primary">
    <%- include('../../partials/header', { activeIdx: 0 }) %>
    <%- include('../../partials/on-top-btn') %>
    <%- include('../../partials/breadcrumbs', { 
      data: [
        { label: 'Trang chủ', link: '/' },
        { label: 'Trang cá nhân', link: '#' },
        { label: 'Đặt hàng', link: '/account/order' }
      ]
    }) %>

    <div class="container">
      <div class="row mt-12">
        <main class="col-12 col-lg-8">
          <div class="row">
            <section class="visible col-12">
              <h2 class="headline-small">Thông tin nhận hàng</h2>
              <div class="location__wrapper mt-12">
                <% if (data.locas.length > 0) { %>
                <% for (let i = 0; i < data.locas.length; i++) { %>
                <%- include('../../components/location__item', { data: {
                  loca_default_id: data.user.loca_default_id,
                  classList: 'in-order',
                  ...data.locas[i]}}) %>
                <% }
                } else { %>
                <div class="local_info">
                  <p class="body-large">Bạn chưa có địa chỉ nào</p>
                  <%- include('../../components/button', {
                    type: 'btn-icon-label',
                    options: 'btn--filled',
                    classList: '',
                    iconData: 'add',
                    label: 'Thêm địa chỉ mới',
                    onclick: 'modalCtl.openModal("#modal--add-location")',
                  }) %>
                </div>
                <% } %>
              </div>
            </section>
            <section class="visible col-12">
              <h2 class="headline-small">Phương thức vận chuyển</h2>
              <div class="section__options">
                <%- include('../../components/radio', {
                  id: 'transport-normal',
                  classList: 'primary-text',
                  name: 'tran_id',
                  value: 'tran0000',
                  checked: false,
                }) %>
                <label class="label-large" for="transport-normal">Giao hàng trong 48 giờ: Miễn
                  phí.</label>
              </div>
              <div class="section__options">
                <%- include('../../components/radio', {
                  id: 'transport-express',
                  classList: 'primary-text',
                  name: 'tran_id',
                  value: 'tran0001',
                  checked: false,
                }) %>
                <label class="label-large" for="transport-express">Giao hàng nhanh trong 2 giờ
                  (Trễ tặng 100k)</label>
              </div>
            </section>
            <section class="visible col-12">
              <h2 class="headline-small">Phương thức thanh toán</h2>
              <div class="section__options">
                <%- include('../../components/radio', {
                  id: 'payment-cash',
                  classList: 'primary-text',
                  name: 'pay_id',
                  value: 'pay00',
                  checked: false,
                }) %>
                <label class="label-large" for="payment-cash">Thanh toán tiền khi nhận hàng
                  (COD)</label>
              </div>
              <div class="section__options">
                <%- include('../../components/radio', {
                  id: 'payment-banking',
                  classList: 'primary-text',
                  name: 'pay_id',
                  value: 'pay01',
                  checked: false,
                }) %>
                <label class="label-large" for="payment-banking">Thanh toán trực tuyến qua ngân
                  hàng</label>
              </div>
            </section>
          </div>
        </main>
        <aside class="col-12 col-lg-4">
          <div class="visible body-large">
            <div class="row__flex">
              <h2 class="aside__title title-large">Đơn hàng</h2>
              <a href="cart">Sửa</a>
            </div>
            <hr>

            <div class="row row_flex pro">
              <%- include('../../components/product__order', { data: data.products }) %>
              <%# let viewMoreClass = "";
              if (data.products?.length <= 2) { viewMoreClass = 'hidden_item'; } %>
              <!-- <p class="<%# viewMoreClass %> viewMore">Xem thêm</p> -->
              <p class="<%= (data.products?.length <= 2) ? 'hidden_item' : '' %> viewMore">Xem thêm</p>
            </div>

            <% let totalCost = 0; %>
            <% let totalDiscount = 0; %>

            <% for (let i = 0 ; i < data.products?.length; i++ ) { 
              totalCost += data.products[i].prod_cost * (1 - data.products[i].prod_discount) * data.products[i].quantity;
            } %>

            <div class="row row__flex">
              <span class="detail__title">Tạm tính:</span>
              <span class="detail__context cost_value__final--before"><%- totalCost %></span>
            </div>
            <div class="row row__flex">
              <span class="detail__title">Giảm giá:</span>
              <span class="detail__context cost_value--discord"><%- totalDiscount %></span>
            </div>
            <hr>
            <div class="row row__flex">
              <span class="detail__title">Tổng cộng:</span>
              <span class="detail__context cost_value--final--after error-text"><%= totalCost - totalDiscount %></span>
            </div>
            <div class="row__flex end">
              <span class="detail__context">(Đã bao gồm phí VAT)</span>
            </div>
            <div class="row__flex end">
              <button class="btn--filled order__btn--submit" onclick="orderSubmit()" disabled>
                <span class="status-layer">Tiến hành đặt hàng</span>
              </button>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <%- include('../../partials/modal--add-location') %>
    <%- include('../../partials/footer') %>
    <%- include('./orderModals/modal--change-address') %>
    <%- include('../../partials/modal--noti-add-location',{
      id: 1
    })%>

  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type='module' src='/scripts/modules/main.js'></script>
  <script src="/scripts/pages/account/order.js"></script>
  <script src="/scripts/modules/account--handler.js"> </script>

</body>

</html>