<% if (type == '') { %>
<button type='button' class="btn- <%= options %> <%= classList %>" onclick="<%= onclick %>">
  <span class="status-layer"><%- label %></span>
</button>
<% } else if (type == 'btn-icon') { %>
<button type='button' class="btn-icon <%= options %> <%= classList %>" onclick="<%= onclick %>">
  <span class="status-layer icon icon--filled material-symbols-outlined">
    <%= iconData %>
  </span>
</button>
<% } else if (type == 'btn-icon-label') { %>
<button type='button' class="btn-icon-label <%= options %> <%= classList %>" onclick="<%= onclick %>">
  <span class="status-layer">
    <span class="icon icon--filled material-symbols-outlined">
      <%= iconData %>
    </span>
    <span class="label"><%- label %></span>
  </span>
</button>
<% } %>