<div class="row mt-12 body-medium location-item <%= data.loca_default_id == data.loca_id ? '' : 'active' %>" data-loca-id='<%= data.loca_id %>'>
  <div class="col-6">
    <p class="location-item__pers-name"><%- data.loca_pers_name %></p>
    <div class="mt-8">
      <span>SĐT: </span>
      <span class="location-item__phone"><%- data.loca_pers_phone %></span><br>
    </div>
    <p class="location-item__address mt-8"><%- `${data.loca_detail}, ${data.loca_address}` %>
    </p>
  </div>
  <div class="col-6 location-item--right">
    <span>
      <%- include('./button', {
        type: 'btn-icon-label',
        options: 'btn--filled',
        classList: '',
        iconData: 'edit',
        label: 'Thay đổi địa chỉ',
        onclick: 'modalCtl.openModal("#modal--change-address")',
      }) %>
    </span>
    <span class="headline-small primary-text"><%- data.loca_default_id == data.loca_id ? '' : 'Mặc định' %></span>
  </div>
</div>