<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="IE104.O12_Group3">
  <meta name="description" content="Trang web TAA là một nền tảng thương mại
    điện tử chuyên về bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung
    cấp những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở thành
    điểm đến lý tưởng cho những người đam mê phụ kiện và trang sức.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/logos/favicon.svg">
  <link rel="stylesheet" href="/styles/pages/base.css">
  <link rel="stylesheet" href="/styles/pages/products/detail.css">
  <title>TAA - Trang sản phẩm</title>
</head>

<body>

  <div id="main" class="on-primary">
    <%- include('../../partials/header', { activeIdx: 1 }) %>
    <%- include('../../partials/breadcrumbs', { 
      data: [
        { label: 'Trang chủ', link: '/' },
        { label: 'Sản phẩm', link: '/products' },
        { label: 'Chi tiết', link: '/detail' }
      ]
    }) %>
    <main>
      <section class="mt-12 detail__product">
        <div class="container">
          <div class="section__info__product">
            <div class="info__product__img">
              <div class="img-select">
                <div class="img-item">
                  <a href="#" data-id="1">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[0] %>" alt="product image">
                  </a>
                </div>
                <div class="img-item">
                  <a href="#" data-id="2">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[1] %>" alt="product image">
                  </a>
                </div>
                <div class="img-item">
                  <a href="#" data-id="3">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[2] %>" alt="product image">
                  </a>
                </div>
                <div class="img-item">
                  <a href="#" data-id="4">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[3] %>" alt="product image">
                  </a>
                </div>
                <div class="img-item">
                  <a href="#" data-id="5">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[4] %>" alt="product image">
                  </a>
                </div>
                <div class="img-item">
                  <a href="#" data-id="6">
                    <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[5] %>" alt="product image">
                  </a>
                </div>
              </div>
              <div class="img-display">
                <div class="img-showcase">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[0] %>" alt="product image">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[1] %>" alt="product image">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[2] %>" alt="product image">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[3] %>" alt="product image">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[4] %>" alt="product image">
                  <img src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[5] %>" alt="product image">
                </div>
              </div>
              <!-- Bổ sung nút mũi tên trái/phải với biểu tượng chevron -->
              <div class="img-nav">
                <button id="prevBtn" onclick="changeImage(-1)">
                  <span class="material-symbols-outlined arrow-left primary-text">
                    arrow_back_ios
                  </span>
                </button>
                <button id="nextBtn" onclick="changeImage(1)">
                  <span class="material-symbols-outlined arrow-right primary-text">
                    arrow_forward_ios
                  </span>
                </button>
              </div>

            </div>
            <div class="info__product__body visible">
              <div class="product__body__title">
                <p class="info__product__name headline-medium"><%= data[0].prod_name %></p>
                <div class="info__product__icon">
                  <span class="show-text label-large">Thêm sản phẩm vào yêu thích</span>
                  <span class="material-symbols-outlined icon_heart error-text">
                    heart_plus
                  </span>
                </div>

              </div>
              <div class="info__product__rate">
                <div class="rate__star title-medium error-text">
                  <p class="rate__star__number title-large">4.5</p>
                  <span class="material-symbols-outlined icon--filled">
                    star
                  </span>
                  <span class="material-symbols-outlined icon--filled">
                    star
                  </span>
                  <span class="material-symbols-outlined icon--filled">
                    star
                  </span>
                  <span class="material-symbols-outlined icon--filled">
                    star
                  </span>
                  <span class="material-symbols-outlined icon--filled">
                    star_rate_half
                  </span>
                </div>
                <span class="rate__number title-medium">5 đánh giá</span>
                <span class="number__buy title-medium"><%=data.prod_num_sold%> đã bán</span>
              </div>

              <div class="info__product__price">
                <p class="cost body-medium"><%- data[0].prod_cost %> đ</p>
                <p class="cost__discount headline-small"><%- data[0].prod_cost * (1 - data[0].prod_discount) %> đ</p>
                <div class="percent__discount body-medium">Giảm <%- data[0].prod_discount * 100 %></div>
              </div>
              <div class="info__product__context body-large">
                <div class="context__info">
                  <div class="context__info__title">
                    THÔNG TIN SẢN PHẨM
                  </div>
                  <ul class="context__info__body">
                    <li>Đảm bảo hàng có chất lượng thương hiệu.</li>
                    <li>Hàng luôn có sẵn ở TAA.</li>
                    <li>Phong cách Unisex, phù hợp Nam/Nữ.</li>
                  </ul>
                </div>
              </div>
              <div class="info__product__transport">
                <div class="product__transport__title label-large bold">Vận chuyển:</div>
                <div class="product__transport__content">
                  <span class="material-symbols-outlined">
                    flight_takeoff
                  </span>
                  <div class="transport__context">
                    <p class="label-large bold">Miễn phí vận chuyển</p>
                    <p class="body-small">Miễn phí vận chuyển cho mọi đơn hàng</p>
                  </div>
                </div>
              </div>
              <!-- <div class="info__product__color label-large">
                <p class="color__title bold">Màu sắc:</p>
                <div class="color__value outline-text">Xanh lá cây</div>
              </div> -->
              <div class="info__product__size label-large">
                <p class="size__title bold">Kích thước:</p>
                <div class="size__value outline-text">Freestyle</div>
              </div>
              <div class="info__product__quantity">
                <div class="quantity__title bold label-large">Số lượng: </div>
                <div class="quantity__product outline-text label-large">
                  <div id="decrement" class="quantity__product-decrement outline-text" onclick="stepper(this)">-</div>
                  <input type="number" min="1" max="100" step="1" value="1" id="my-input" disabled>
                  <div id="increment" class="quantity__product-increment outline-text" onclick="stepper(this)">+</div>
                </div>
                <p class="quantity__stock body-small"><%=data.prod_num_avai%> sản phẩm sẵn có</p>
              </div>
              <div class="info__product__button">
                <button class="button__cart">
                  <span class="material-symbols-outlined">
                    add_shopping_cart
                  </span>
                  Thêm vào giỏ hàng
                </button>
                <div class="button__sell btn--filled label-large">
                  <a href="/account/cart">Mua ngay</a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- mo ta san pham -->
        <div class="container">
          <div class="context__detail  white visible">
            <div class="context__detail__title headline-large">
              THÔNG TIN THƯƠNG HIỆU:
            </div>
            <ul class="context__detail__body body-large">
              <li>- Thương hiệu TAA - Three Accessories Appreciate đã được đăng kí bảo hộ năm 2023, chuyên sản xuất và nhập khẩu các mặt hàng phụ kiện thời trang như: Vòng cổ , Nhẫn , Hoa Tai , Vòng Tay,... cùng những sản phẩm khác phục vụ cho niềm đam mê với phụ kiện của bạn. </li>
              <li>- Điểm tạo nên sự khác biệt của chúng tôi đó chính là nguồn sản phẩm dồi dào, đáp ứng mọi yêu cầu về các phong cách khác nhau của mọi khách hàng với mức giá vô cùng phải chăng. </li>
              <li>- TAA đã có cửa hàng tại HCM và 100.000 KH mua sắm mỗi năm. Phương châm của TAA là luôn khách hàng lên hàng đầu, chứng tôi sẽ cố gắng thực hiện hóa mọi nhu cầu của bạn.</li>
              <li>- Thiết kế may tinh tế, sắc sảo và thời trang, theo phong cách Ulzzang Hàn Quốc cá tính.</li>
            </ul>
          </div>
        </div>

        <!-- Đánh giá -->
        <div class="container">
          <div class="rating__product white visible">
            <div class="rating__product__title">
              <p class="rating_title headline-large">ĐÁNH GIÁ SẢN PHẨM</p>
            </div>
            <div class="rating__product__star">
              <div class="rating_filter">
                <div class="info__product__rate">
                  <div class="rate__star title-medium error-text">
                    <p class="rate__star__number headline-large">4.5</p>
                    <span class="material-symbols-outlined icon--filled">
                      star
                    </span>
                    <span class="material-symbols-outlined icon--filled">
                      star
                    </span>
                    <span class="material-symbols-outlined icon--filled">
                      star
                    </span>
                    <span class="material-symbols-outlined icon--filled">
                      star
                    </span>
                    <span class="material-symbols-outlined icon--filled">
                      star_rate_half
                    </span>
                  </div>
                </div>
              </div>
              <div class="rating__product__filter">
                <div class="rating__filter-rank">
                  <p class="product__title label-large on-surface-text">Xếp hạng </p>
                  <div class="dropdown label-large">
                    <div class="select product__button width-select--short">
                      <span class="material-symbols-outlined icon-check">
                        check
                      </span>
                      <span class="selected">Tất cả</span>
                      <div class="caret"></div>
                      <span class="material-symbols-outlined icon-cancel">
                        close
                      </span>
                    </div>
                    <ul class="menu">
                      <li class="select__active">5 Sao(300)</li>
                      <li>4 Sao(20)</li>
                      <li>3 Sao(3)</li>
                      <li>2 Sao(0)</li>
                      <li>1 Sao(1)</li>
                    </ul>
                  </div>
                </div>
                <div class="rating__filter-sort">
                  <p class="product__title label-large on-surface-text">Sắp xếp theo</p>
                  <div class="dropdown label-large">
                    <div class="select product__button width-select--long">
                      <span class="material-symbols-outlined icon-check">
                        check
                      </span>
                      <span class="selected">Mới nhất</span>
                      <div class="caret"></div>
                      <span class="material-symbols-outlined icon-cancel">
                        close
                      </span>
                    </div>
                    <ul class="menu">
                      <li class="select__active">Mới nhất</li>
                      <li>Cũ nhất</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="rating__product__detail">
              <div class="rating__item">
                <div class="rating__item-img">
                  <img src="/imgs/users/avatar.png" alt="Avatar user">
                </div>
                <div class="rating__item-body">
                  <div class="rate__info">
                    <div class="rate__name title-large">lamcam2003</div>
                    <div class="rate__star title-medium error-text">
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                    </div>
                    <div class="rate__date body-large primary-text">
                      <p>23 - 11 - 11 20:14</p>
                      <div class="vertical"></div>
                      <p>Phân loại hàng: Freestyle</p>
                    </div>
                  </div>
                  <div class="rate__content primary-text body-medium">
                    Sản phẩm xinh cực, cảm ơn shop ạ!!
                  </div>
                  <div class="rate__imgs">
                    <!-- <img class="img1" src="/TAA_FE/public/product2.jpg" alt="product img"> -->
                    <!-- <img class="img2" src="/TAA_FE/public/product2.jpg" alt="product img"> -->
                    <img class="img3" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[4] %>" alt="product img">
                    <img class="img4" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[5] %>" alt="product img">
                    <div class="img--more">
                      <img class="img5" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[1] %>" alt="product img">
                      <div class="overlay">
                        <p class="title-large">+2</p>
                      </div>
                    </div>
                  </div>
                  <div class="rate__react">
                    <div class="post__rating">
                      <span class="post__rating-icon material-symbols-outlined">
                        thumb_up
                      </span>
                      <span class="post__rating-count body-medium">0</span>
                    </div>
                    <div class="post__rating">
                      <span class="post__rating-icon material-symbols-outlined">
                        thumb_down
                      </span>
                      <span class="post__rating-count body-medium">0</span>
                    </div>
                  </div>

                </div>
              </div>

              <!-- item rating -->
              <div class="rating__item">
                <div class="rating__item-img">
                  <img src="/imgs/users/avatar.png" alt="Avatar user">
                </div>
                <div class="rating__item-body">
                  <div class="rate__info">
                    <div class="rate__name title-large">lamcam2003</div>
                    <div class="rate__star title-medium error-text">
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                      <span class="material-symbols-outlined icon--filled">
                        star
                      </span>
                    </div>
                    <div class="rate__date body-large primary-text">
                      <p>23 - 11 - 11 20:14</p>
                      <div class="vertical"></div>
                      <p>Phân loại hàng: Freestyle</p>
                    </div>
                  </div>
                  <div class="rate__content primary-text body-medium">
                    Sản phẩm xinh cực, cảm ơn shop ạ!!
                  </div>
                  <div class="rate__imgs">
                    <!-- <img class="img1" src="/TAA_FE/public/product2.jpg" alt="product img"> -->
                    <!-- <img class="img2" src="/TAA_FE/public/product2.jpg" alt="product img"> -->
                    <img class="img3" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[1] %>" alt="product img">
                    <img class="img4" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[2] %>" alt="product img">
                    <div class="img--more">
                      <img class="img5" src="/imgs/products/<%= data[0].cate_name %>/<%= data[0].prod_img_urls[5] %>" alt="product img">
                      <div class="overlay">
                        <p class="title-large">+2</p>
                      </div>
                    </div>
                  </div>
                  <div class="rate__react">
                    <div class="post__rating">
                      <span class="post__rating-icon material-symbols-outlined">
                        thumb_up
                      </span>
                      <span class="post__rating-count body-medium">0</span>
                    </div>
                    <div class="post__rating">
                      <span class="post__rating-icon material-symbols-outlined">
                        thumb_down
                      </span>
                      <span class="post__rating-count body-medium">0</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>



      </section>

    </main>

    <!-- <footer></footer> -->
    <div id="footer"></div>

    <!-- Modal -->

    <div class="modal-noti">
      <div class="modal-container--noti on-primary-text">
        <div class="noti__icon-check">
          <span class="material-symbols-outlined icon--filled">
            check_circle
          </span>
        </div>
        <p class="noti__text headline-large">Thêm vào giỏ hàng thành công</p>
        <div class="noti__btn button-close">
          <span class="material-symbols-outlined">
            close
          </span>
        </div>
      </div>

    </div>
    <%- include('../../partials/footer') %>
  </div>


  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="module" src="/scripts/modules/main.js"></script>
  <script src="/scripts/pages/products/detail.js"></script>
</body>