<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/pages/base.css">
  <link rel="stylesheet" href="/styles/pages/products/index.css">
  <title>TAA - Trang sản phẩm</title>
</head>

<body>
  <div id="main" class="on-primary">
    <%- include('../../partials/header', { activeIdx: 1 }) %>
    <%- include('../../partials/breadcrumbs', { 
      data: [
        { label: 'Trang chủ', link: '/' },
        { label: 'Sản phẩm', link: '/products' }
      ]
    }) %>

    <div id='theFilter' class='mt-12'>
      <div class="container">
        <div class="product__filter visible">
          <p class="product__title label-large on-surface-text">Sắp xếp theo</p>
          <button class="product__button js-button btn--outlined">
            <span class="material-symbols-outlined icon-check">
              check
            </span>
            Giảm giá
          </button>
          <button class="product__button js-button btn--outlined">
            <span class="material-symbols-outlined icon-check">
              check
            </span>
            Bán chạy nhất
          </button>
          <div class="dropdown label-large">
            <div class="select product__button">
              <span class="material-symbols-outlined icon-check">
                check
              </span>
              <span class="selected selected2">Giá</span>
              <div class="caret"></div>
              <span class="material-symbols-outlined icon-cancel">
                close
              </span>
            </div>
            <ul class="menu">
              <li class="select__active">Giá: Từ thấp đến cao</li>
              <li>Giá: Từ cao đến thấp</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Dành cho việc chia cột nội dung-->
    <div class="container">
      <div class="row mt-12">
        <aside class="aside col-12 col-lg-3">
          <ul class="aside__list body-large primary-text visible">
            <li class="aside__item">
              <span class="aside__item__title">
                <span class="material-symbols-outlined icon-menu">
                  menu
                </span>
                Danh mục sản phẩm
              </span>
            </li>
            <li class="aside__item js-item">
              <span class="aside__header">Trang sức</span>
              <ul class="aside__item__sub-menu js-sub-menu">
                <li><span>Vòng cổ</span></li>
                <li><span>Vòng tay</span></li>
                <li><span>Hoa tai</span></li>
                <li><span>Nhẫn</span></li>
              </ul>
            </li>
            <li class="aside__item js-item">
              <span class="aside__header">Phụ kiện tóc</span>
              <ul class="aside__item__sub-menu js-sub-menu">
                <li><span>Kẹp</span></li>
                <li><span>Dây cột tóc</span></li>
                <li><span>Cài tóc</span></li>
                <li><span>Trâm cài</span></li>
              </ul>
            </li>
            <li class="aside__item js-item">
              <span class="aside__header">Túi ví</span>
              <ul class="aside__item__sub-menu js-sub-menu">
                <li><span>Balo</span></li>
                <li><span>Túi</span></li>
                <li><span>Ví</span></li>
              </ul>

            </li>
            <li class="aside__item js-item">
              <span class="aside__header">Giày dép</span>
              <ul class="aside__item__sub-menu js-sub-menu">
                <li class="lili"><span>Giày</span></li>
                <li><span>Dép</span></li>
                <li><span>Tất</span></li>
              </ul>
            </li>
            <li class="aside__item js-item">
              <span class="aside__header">Khác</span>
              <ul class="aside__item__sub-menu js-sub-menu">
                <li><span>Thiệp</span></li>
                <li><span>Ốp lưng</span></li>
                <li><span>Mắt kính</span></li>
                <li><span>Dây đeo</span></li>
                <li><span>Mũ nón</span></li>
                <li><span>Khẩu trang</span></li>
              </ul>
            </li>
          </ul>
        </aside>

        <main class="visible row col-12 col-lg-9">
          <div class="row col-12 product__wrapper">
            <% const length = (result.length > 9) ? 9 : result.length;
            for (let idx = 0; idx < length; ++idx) { %>
            <%- include('../../components/product__item', {
                data: result[idx],
              }) %>
            <% } %>
          </div>
          <div class="row col-12">
            <%- include('../../partials/pagination', {
              classList: 'col-12'
            }) %>
          </div>
        </main>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal-product">
      <div class="modal-container--product">
        <div class="modal__img">
          <div class="img-display">
            <div class="img-showcase">
              <img src="/imgs/products/product2.jpg" alt="Product img">
              <img src="/imgs/products/product3.jpg" alt="Product img">
              <img src="/imgs/products/product4.jpg" alt="Product img">
              <img src="/imgs/products/product7.jpg" alt="Product img">
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="/imgs/products/product2.jpg" alt="product image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img src="/imgs/products/product3.jpg" alt="product image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img src="/imgs/products/product4.jpg" alt="product image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="4">
                <img src="/imgs/products/product7.jpg" alt="product image">
              </a>
            </div>
          </div>
        </div>
        <div class="modal__body">
          <p class="modal__product__name headline-medium">Tên sản phẩm</p>
          <div class="modal__info__rate">
            <div class="rate__star title-medium">
              4.8
              <span class="material-symbols-outlined icon--filled">
                star
              </span>
              <span class="material-symbols-outlined icon--filled">
                star
              </span>
              <span class="material-symbols-outlined icon--filled">
                star
              </span>
              <span class="material-symbols-outlined icon--filled">
                star
              </span>
              <span class="material-symbols-outlined icon--filled">
                star_rate_half
              </span>
            </div>
            <span class="rate__number title-medium">30 đánh giá</span>
            <span class="number__buy title-medium">300 đã bán</span>
          </div>
          <div class="modal__price">
            <p class="cost body-medium">180.000đ</p>
            <p class="cost__discount headline-small">79.000đ</p>
            <div class="percent__discount body-medium">42% giảm</div>
          </div>
          <div class="modal__color label-large">
            <p class="color__title bold">Màu sắc:</p>
            <div class="color__value outline-text">Xanh lá cây</div>
          </div>
          <div class="modal__size label-large">
            <p class="size__title bold">Kích thước:</p>
            <div class="size__value outline-text">Freestyle</div>
          </div>
          <div class="modal__quantity">
            <div class="quantity__title label-large bold">Số lượng: </div>
            <div class="quantity__product outline-text label-large">
              <div id="decrement" class="quantity__product-decrement outline-text" onclick="stepper(this)">-</div>
              <input type="number" min="0" max="100" step="1" value="1" id="my-input" disabled>
              <div id="increment" class="quantity__product-increment outline-text" onclick="stepper(this)">+</div>
            </div>
            <p class="quantity__stock body-small">82 sản phẩm sẵn có</p>
          </div>
          <div class="modal__button">
            <button class="button__cart">
              <span class="material-symbols-outlined">
                add_shopping_cart
              </span>
              Thêm vào giỏ hàng
            </button>
            <button class="button__view btn--filled">
              <a href="/products/detail?id=1">Xem chi tiết</a>
            </button>
          </div>
          <div class="modal__context body-large">
            <div class="context__info mt-12">
              <div class="context__info__title">
                THÔNG TIN SẢN PHẨM
              </div>
              <ul class="context__info__body">
                <li>Chất liệu vải: Kaki cao cấp.</li>
                <li>Khóa chỉnh size: Được làm bằng inox.</li>
                <li>Phong cách Unisex, phù hợp Nam/Nữ.</li>
              </ul>
            </div>
            <div class="context__detail mt-24">
              <div class="context__detail__title">
                MÔ TẢ SẢN PHẨM
              </div>
              <ul class="context__detail__body">
                <li>- Form dáng chuẩn, chắc chắn, form mềm giúp định hình được khuôn mặt.</li>
                <li>- Nón được thiết kế để bảo vệ cho vùng mắt, vùng da mặt, da đầu và tóc tránh các tia cực tím độc hại
                  từ ánh nắng mặt trời.</li>
                <li>- Giặt bằng nước lạnh không dùng bột giặt trong lần giặt đầu tiên.</li>
                <!-- <li>- Thiết kế may tinh tế, sắc sảo và thời trang, theo phong cách Ulzzang Hàn Quốc cá tính.</li>
                <li>- Hạn chế gây ra mồ hôi ở đầu, không gây kích ứng da đầu.</li>
                <li>- Phần đai nón có đệm bông tạo cảm giác thoải mái khi đội nón và không để lại vết hằn lên trán.</li>
                <li>- Khóa chỉnh size phía sau nón được làm bằng inox không gỉ rất dễ dàng sử dụng điều chỉnh nón.</li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="btn--close">
          <span class="material-symbols-outlined">
            close
          </span>
        </div>
      </div>
    </div>

    <div class="modal-noti">
      <div class="modal-container--noti on-primary-text">
        <div class="noti__icon-check">
          <span class="material-symbols-outlined icon--filled">
            check_circle
          </span>
        </div>
        <p class="noti__text headline-large">Thêm vào giỏ hàng thành công</p>
        <div class="noti__btn btn--close">
          <span class="material-symbols-outlined">
            close
          </span>
        </div>
      </div>
    </div>

    <%- include('../../partials/footer') %>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="module" src="/scripts/modules/main.js"></script>
  <script src="/scripts/pages/products/index.js"></script>
</body>

</html>