<header class="visible un-radius">
  <div class="header__top">
    <div class="container">
      <a class="header__link" href="/">
        <img class="header__logo" src="/logos/logo.svg" alt="Logo TAA">
      </a>
      <form class="hide-md hide-sm" action="/products" method="GET">
        <span class="header__search search-bar">
          <input class="label-large" type="text" placeholder="Tìm kiếm" list="data--search" name="search">
          <datalist id="data--search">
            <option value="Vòng tay"></option>
            <option value="Vòng cổ"></option>
            <option value="Túi"></option>
            <option value="Cài tóc"></option>
            <option value="Nhẫn"></option>
          </datalist>
          <button type='submit' class="btn-icon btn--filled">
            <span class="status-layer icon icon--filled material-symbols-outlined">
              search</span>
          </button>
        </span>
      </form>
      <div class="header__wrapper">
        <% if (!isAuthenticated) { %>
        <%- include('../components/button', {
          type: '',
          options: 'btn--outlined',
          classList: '',
          label: 'Đăng nhập',
          onclick: 'modalCtl.openModal(\'#modal--login\')',
        }) %>
        <%- include('../components/button', {
          type: '',
          options: 'btn--filled',
          classList: '',
          label: 'Đăng ký',
          onclick: 'modalCtl.openModal(\'#modal--register\')',
        }) %>
        <% } else { %>
        <button class="btn-icon header__cart header__cart--empty" onclick="authCtl.moveToCart()" data-after="">
          <span class="status-layer icon icon--filled material-symbols-outlined">
            shopping_cart
          </span>
        </button>
        <div class="header__account__wrapper">
          <span class="header__name hide-sm"></span>
          <img class="header__avatar" src="/imgs/users/avatar.png" alt="Avatar">
          <div class="header__user label-small">
            <a class="header__user--options" href="/account/information">Thông tin cá nhân</a>
            <a class="header__user--options" href="/account/orders">Đơn hàng</a>
            <a class="header__user--options" href="/account/favor-products">Sản phẩm yêu thích</a>
            <span class='header__user--options logoutBtn'>Đăng xuất</span>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="container hide-lg">
    <form action="/products" method="GET">
      <div class="header__search search-bar">
        <input class="label-large" type="text" placeholder="Tìm kiếm" list="data--search" name="search">
        <button type='submit' class="btn-icon btn--filled">
          <span class="status-layer icon icon--filled material-symbols-outlined">
            search
          </span>
        </button>
      </div>
    </form>
  </div>
  <%- include('../components/main-nav', {
    activeIdx,
    data: [
      { text: 'Trang chủ', link: '/' },
      { text: 'Sản phẩm', link: '/products' },
      { text: 'Tin tức', link: '/news' },
      { text: 'Về chúng tôi', link: '/about' },
      { text: 'Hướng dẫn', link: ''},
    ],
  }) %>
</header>
<% if (!isAuthenticated) { %>
<%- include('modal--login') %>
<%- include('modal--register') %>
<%- include('modal--forgot-method') %>
<%- include('modal--forgot-by-phone') %>
<% } else { %>
<%- include('modal--logout') %>
<% } %>