<div id="modal--change-address" class="modal">
  <div class="modal__content on-primary">
    <%- include('../../../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--close',
      iconData: 'close',
      onclick: 'modalCtl.closeModal()',
    }) %>
    <h1 class="modal__title headline-large">Thay đổi địa chỉ nhận hàng</h1>
    <h2 class="modal__subtitle title-medium mt-12">Bạn có thể thay đổi địa chỉ
      nhận hàng tại đây
    </h2>
    <div class="location__wrapper">
      <% data.locas.forEach(loca => { %>
        <%- include('../../../components/location__order', {
          data: {
            loca_default_id: data.loca_default_id,
            ...loca
          }
        }) %>
      <% }) %>
    </div>
    <div class="row mt-12">
      <%- include('../../../components/button', {
        type: 'btn-icon-label',
        options: 'btn--filled-con',
        classList: 'location-list__btn--add col-12',
        iconData: 'add',
        label: 'Thêm địa chỉ mới',
        onclick: 'modalCtl.nextModal("#modal--add-location")',
      }) %>
    </div>
    <div class="btn__wrapper row mt-36">
      <%- include('../../../components/button', {
        type: '',
        options: 'btn--outlined',
        classList: 'col-6',
        label: 'Hủy bỏ',
        onclick: 'modalCtl.closeModal()',
      }) %>
      <%- include('../../../components/button', {
        type: '',
        options: 'btn--filled',
        classList: 'col-6',
        label: 'Đồng ý',
        onclick: 'order',
      }) %>
    </div>
  </div>
</div>